body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.column {
  flex: 1;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.call-column{
  background-color: #e4ffd0;
}

.strike-column{
  background-color: #fff;
}

.put-column{
  background-color: #ffd8d8;
}

h3 {
  margin-top: 0;
  padding: 10px;
  color: #fff;
  border-radius: 5px 5px 0 0;
  text-transform: uppercase;
}

.call-column h3 {
  background-color: #4caf50;
}

.strike-column h3 {
  background-color: #1976d2;
}

.put-column h3 {
  background-color: #f44336;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 700;
}
