<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">


</head>
<body>

   

    <div class="container">
        <div class="column call-column">
            <h3>Call</h3>
            <ul id="call-list"></ul>
        </div>
        <div class="column strike-column">
            <h3>Strike</h3>
            <ul id="strike-list">
                <li>47600.0</li>
                <li>47700.0</li>
                <li>47800.0</li>
                <li>47900.0</li>
                <li>48000.0</li>
            </ul>
        </div>
        <div class="column put-column">
            <h3>Put</h3>
            <ul id="put-list"></ul>
        </div>
    </div>

  <script src="../static/script.js"></script>
</body>
</html>